@use '@angular/material' as mat;

.tab-group {
  background-color: var(--surface-variant);
  
  @include mat.tabs-overrides((
		active-focus-indicator-color: var(--orange-accent),
			active-focus-label-text-color: var(--blue-accent),
		));

    .mdc-tab__text-label {
      color: var(--text-primary);
    }
}