button[mat-raised-button] {
	background-color: var(--success);
	color: var(--text-primary);
	&:disabled {
		background-color: var(--surface-variant);
		color: var(--text-muted);
	}
}
button[mat-stroked-button] {
	background-color: var(--danger);
	color: var(--text-secondary);
	&:disabled {
		background-color: var(--surface-variant);
		color: var(--text-muted);
	}
}

button[mat-icon-button] {
	background-color: transparent;
	color: var(--text-primary);
	&:disabled {
		color: var(--text-muted);
	}
}

.mini-fab {
	&.success {
		background-color: var(--success);
		color: var(--text-primary);
	}
	&.danger {
		background-color: var(--danger);
		color: var(--text-secondary);
	}
	&.info {
		background-color: var(--info);
		color: var(--text-primary);
	}
	&:disabled {
		background-color: var(--surface-variant);
		color: var(--text-muted);
	}
}
