@switch (this.buttonType()) { @case ('flat') {
<button
	mat-flat-button
	[id]="id()"
	[disabled]="disabled()"
	[type]="htmlType()"
	(click)="action()()"
>
	@if (icon()) {
	<mat-icon>{{ icon() }}</mat-icon>
	}
	{{ label() }}
</button>
} @case ('stroked') {
<button
	mat-stroked-button
	[id]="id()"
	[disabled]="disabled()"
	[type]="htmlType()"
	(click)="action()()"
>
	@if (icon()) {
	<mat-icon>{{ icon() }}</mat-icon>
	}
	{{ label() }}
</button>
} @case ('raised') {
<button
	mat-raised-button
	[id]="id()"
	[disabled]="disabled()"
	[type]="htmlType()"
	(click)="action()()"
>
	@if (icon()) {
	<mat-icon>{{ icon() }}</mat-icon>
	}
	{{ label() }}
</button>
} @default {
<button
	mat-button
	[id]="id()"
	[disabled]="disabled()"
	[type]="htmlType()"
	(click)="action()()"
>
	@if (icon()) {
	<mat-icon>{{ icon() }}</mat-icon>
	} @if (label()) {
	{{ label() }}
	}
</button>
} }
