button[mat-raised-button] {
	background-color: var(--success);
	color: var(--text-primary);
}
button[mat-stroked-button] {
	background-color: var(--danger);
	color: var(--text-secondary);
}

button[mat-icon-button] {
	background-color: transparent;
	color: var(--text-primary);
}
