<mat-toolbar class="toolbar">
	<zs-button
		class="menu-button"
		[buttonType]="'icon'"
		[type]="'button'"
		[icon]="'menu'"
		(onClick)="sidenav.toggle()"
	/>
	<span>ZSport UI</span>
	<span class="spacer"></span>
	@for(button of this.secondaryButtons; track $index) {
	<zs-button
		[id]="button.id"
		[buttonType]="button.type"
		[disabled]="button.disabled"
		[type]="button.htmlType"
		[icon]="button.icon"
		[label]="button.label"
		(onClick)="secondaryButtonClicked.emit(button.id)"
	/>
	}
</mat-toolbar>
<mat-drawer-container autosize class="sidenav-container">
	<mat-drawer #sidenav class="sidenav" [mode]="this.sidenavMode">
		<p>Drawer content goes here</p>
	</mat-drawer>
	<mat-drawer-content class="sidenav-content">
		<ng-content></ng-content>
	</mat-drawer-content>
</mat-drawer-container>
