<mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
    </button>
    <span>ZSport UI</span>
    <span class="spacer"></span>
    <button mat-icon-button class="theme-button" (click)="toggleTheme()" aria-label="Toggle theme">
        <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <button mat-icon-button class="profile-button" aria-label="Profile" (click)="onProfileClick()">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container autosize class="sidenav-container">
    <mat-drawer #sidenav class="sidenav" [mode]="this.sidenavMode">
        <p>Drawer content goes here</p>
    </mat-drawer>
    <mat-drawer-content class="sidenav-content">
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>