<mat-toolbar class="toolbar">
	<zs-button
		class="menu-button"
		[buttonType]="'icon'"
		[type]="'button'"
		[icon]="'menu'"
		(onClick)="sidenav.toggle()"
	/>
	<span>ZSport UI</span>
	<span class="spacer"></span>
	<zs-dropdown-button
		[id]="profileDropdownButton.id"
		[icon]="profileDropdownButton.icon"
		[label]="profileDropdownButton.label"
		[buttonType]="profileDropdownButton.buttonType"
		[htmlType]="profileDropdownButton.htmlType"
		[disabled]="profileDropdownButton.disabled"
		[items]="profileDropdownButton.items"
		(optionClicked)="secondaryButtonClicked.emit($event)"
	/>
</mat-toolbar>
<mat-drawer-container autosize class="sidenav-container">
	<mat-drawer #sidenav class="sidenav" [mode]="this.sidenavMode">
		<p>Drawer content goes here</p>
	</mat-drawer>
	<mat-drawer-content class="sidenav-content">
		<ng-content></ng-content>
	</mat-drawer-content>
</mat-drawer-container>
