$toolbar-height: 64px;
$sidenav-container-height: calc(100vh - #{$toolbar-height});

.toolbar {
	position: sticky;
	top: 0;
	z-index: 1000;
	height: $toolbar-height;

	box-shadow: 0 2px 4px var(--shadow-color);
	background-color: var(--surface);
	color: var(--text-primary);

	.theme-button {
		color: var(--text-secondary);
	}

	.profile-button {
		color: var(--text-secondary);
	}

	.spacer {
		flex: 1 1 auto;
	}
}

.sidenav-container {
	height: $sidenav-container-height;
	background-color: var(--bg-primary);

	.sidenav {
		width: 250px;
		background-color: var(--surface);
		color: var(--text-primary);
		border-right: 1px solid var(--border-color);
	}
}

@media screen and (min-width: 600px) {
	.sidenav-container {
		.sidenav {
			border-radius: 0;
		}
	}
}
