.card {
	background-color: var(--surface);
	color: var(--text-primary);

	&-header {
		background-color: var(--surface-variant);
		justify-content: space-between;
		align-items: start;

		.spacer {
			flex: 1 1 auto;
		}

		button[mat-icon-button] {
			color: var(--text-primary);
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;

		mat-form-field {
			mat-label {
				color: var(--text-secondary);
			}

			input[matInput] {
				color: var(--text-primary);
			}

			mat-error {
				font-size: 0.875rem;
				color: var(--danger);
				margin-top: 0.25rem;
			}
		}
	}

	&-actions {
		background-color: var(--surface-variant);
		justify-content: center;

		.save-button {
			background-color: var(--sport-green);
			color: var(--text-primary);

			&full-width {
				width: 100%;
			}
		}
	}
}
